PROJECT OVERVIEW

The Syrial Customer churn project aims to address the high rate of customers attrition within the telecommunications sector.Leveraging customer data such as service plans,call activity,and account details,we will build robust classification models to predict whether a customer is likely to churn.By understanding these patterns,SyrialTel can proactively enhance customer retention strategies,improve customer satisfaction and reduce financial losses.

Stakeholder.

The primary stakeholders are as follows:

    1.Customer retention team,interested in understanding the factors leading to customer churn in order to develop effective strategies to retain customers.
    2.Upper management.Focused on reducing churn rates to improve profitability and customer satisfaction,which are critical to the long-term success of the company

Business understanding

SyrailTel is experiencing high customer churn,negatively affecting revenue and growth.The company seeks to understand the factors contributing to churn and develop a predictive model to identify at risk customers.By predicting churn,SyrialTel can intervene with targeted retention strategies  ensuring a more stable customer base.

Data description

1.State-The customer's location,represented as a categorical variable.

2.Account length-Duration of the customer's account in days

3.Area code-Numeric representation of the customer's area code.

4.International Plan-whether the customer has subscribed to an international calling plan

5.Voice Mail Plan-subscription status to a voicemail plan.

6.Total Day/Eve/Night/Intl calls-call counts across different time segments.

7.Total Day/Eve/Night/Intl charge-charges accrued in different time segments

8.customer service calls-number of calls made to customer service.

9.churn-the target variable indicating whether the customer has churned(True/False)

Problem statement

SyrailTel is losing customers at an alarming rate,impacting its revenue and market position.The company needs a data-driven approach to understand churn dynamics,enabling proactive measures to retain customers.The primary goal is to build a model that can accurately predict customer churn and provide actionable insights to improve retention strategies

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv') 
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Getting the data insights,by performing explatory data analysis

In [3]:
df.shape

(3333, 21)

In [4]:
df['churn'].value_counts()

churn
False    2850
True      483
Name: count, dtype: int64

In [5]:
col_names = df.columns 
col_names

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

Separating the dataset into categorical and numerical variables.